@model CreateDepartmentDto
@{
	ViewData["Title"] = "create";
}
<div class="row justify-content-center align-content-center flex-column">

	<h1 class="col-6 my-4">create Department </h1>

	<form asp-action="Create" method="post" class="col-6">

		<div asp-validation-summary="ModelOnly"></div>

		<div class="form-group mb-3">
			<label class="form-label" asp-for="Code">
				<input asp-for="Code" class="form-control" />
				<span class="text-danger" asp-validation-for="Code"></span>
			</label>
		</div>

		<div class="form-group mb-3">
			<label class="form-label" asp-for="Name">
				<input asp-for="Name" class="form-control" />
				<span class="text-danger" asp-validation-for="Name"></span>
			</label>
		</div>

		<div class="form-group mb-3">
			<label class="form-label" asp-for="Description">
				<textarea asp-for="Description" class="form-control"></textarea>
				@* <span class="text-danger" asp-validation-for="Description"></span> *@
			</label>
		</div>

		<div class="form-group mb-3">
			<label class="form-label" asp-for="CreationDate">
				<input asp-for="CreationDate" type="date" class="form-control" />
				@* <span class="text-danger" asp-validation-for="CreationDate"></span> *@
			</label>
		</div>

		<div class="mt-4">
			<input type="submit" name="name" value="Create" class="btn btn-primary" />|
			<a asp-action="Index" class="btn btn-secondary">Back To List</a>
</div>
	</form>


</div>

