@model DepartmentVM
@{
	ViewData["Title"] = "create";
}
<div class="row justify-content-center align-content-center flex-column">

	<h1 class="col-6 my-4">create Department </h1>

	<form asp-action="Create" method="post" class="col-6">

		<partial name="partials/_createEditPartial" model="@Model" />


		<div class="mt-4">
			<input type="submit" name="name" value="Create" class="btn btn-primary" />|
			<a asp-action="Index" class="btn btn-secondary">Back To List</a>
</div>
	</form>


</div>

@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}