@model DepartmentDetailsDto
@{
	ViewData["Title"] = "Delete";
}


<h1>Are U Sure to Delete @Model.Name Department ?</h1>


<!-- Bootstrap Tabs -->
<partial name="partials/_DeleteDetialsPartail" model="Model" />

<form asp-action="Delete" asp-route-DeptId="@Model.id" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger">	</div>
	<div class="mt-4">

		<input type="submit" value="Delete" class="btn btn-danger" />

		<a asp-action="Index" class="btn btn-secondary">Back To list</a>
	</div>
</form>