@model DepartmentDetailsDto

<h1>
	@Model.Name Department Details
</h1>

<!-- Bootstrap Tabs -->
<partial name="partials/_DeleteDetialsPartail" model="Model" />


<div class="mt-4">
	<a asp-action="Index" class="btn btn-secondary">Back To list</a>
</div>
